@{
    ViewData["Title"] = "Home Page";
}

<br /><br />
<div class="jumbotron">
    <h1>1. Create survey</h1>
    <p>No programming knowledge, аdd your questions with simple editor.</p>
</div>
<div class="jumbotron">
    <h1>2. Share your survey</h1>
    <p>Share your survey URL to collect your answers.</p>
</div>
<div class="jumbotron">
    <h1>3. Analyze</h1>
    <p>As soon as your first participant has answered your survey, you can see the collected responses.</p>
</div>